<table class="grid">
  <tr Class="gridheader">
    <th>Nombre</th>
    <th>Tipo de forma de pago</th>
    <th>Financiador</th>
    <th>Moneda</th>
    <th colspan=3></th>
  </tr>
<% x=0; @forma_de_pago_al_creditos.each do |forma_de_pago_al_credito| ; c = ((x+=1)%2)==0 ? :gridrow : :gridalternatingrow %>
  <tr class=<%=c%>>
    <td><%= forma_de_pago_al_credito.nombre %></td>
    <td><%= forma_de_pago_al_credito.tipo_de_forma_de_pago.nombre %></td>
    <td><%= forma_de_pago_al_credito.financiador.nombre %></td>
    <td><%= forma_de_pago_al_credito.moneda.nombre %></td>
    <td><%= link_to :Detalles, forma_de_pago_al_credito, :class => :menuLink1N %></td>
    <td><%= link_to :Editar, edit_forma_de_pago_al_credito_path(forma_de_pago_al_credito), :class => :menuLink1N %></td>
    <td><%= link_to :Eliminar, forma_de_pago_al_credito, confirm: "\u00bfEsta seguro?", method: :delete, :class => :menuLink1N %></td>
  </tr>
<% end %>
</table>
<br />
<%= link_to 'Crear nueva forma de pago al credito', new_forma_de_pago_al_credito_path, :class => :menuLink1N %>
