<%= form_for(@forma_de_pago_al_contado) do |f| %>
  <% if @forma_de_pago_al_contado.errors.any? %>
    <div id="error_explanation">
      <h2>No se puede grabar porque no ha pasado la validacion <%= pluralize(@forma_de_pago_al_contado.errors.count, "dato") %>:</h2>
      <ul>
      <% @forma_de_pago_al_contado.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :nombre, :class => :menuNormal1N %><br />
    <%= f.text_field :nombre, :class => :NormalCajaTexto %>
  </div>
  <div class="field">
    <%= f.label :tipo_de_forma_de_pago_id, :class => :menuNormal1N %><br />
    <%= f.collection_select :tipo_de_forma_de_pago_id,@tipo_de_forma_de_pago,:id,:nombre, {:include_blank => "Seleccione valor"}, {:class => :NormalSelect} %>
  </div>
    <div class="field">
    <%= f.label :financiador_id, :class => :menuNormal1N %><br />
    <%= f.collection_select :financiador_id,@financiador,:id,:nombre, {:include_blank => "Seleccione valor"}, {:class => :NormalSelect} %>
  </div>
    <div class="field">
    <%= f.label :moneda_id, :class => :menuNormal1N %><br />
    <%= f.collection_select :moneda_id,@moneda,:id,:nombre, {:include_blank => "Seleccione valor"}, {:class => :NormalSelect} %>
  </div>
  <div class="actions">
    <%= f.submit :class => :NormalBoton %>
  </div>
<% end %>