<%= form_for(@usuario) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2>No se puede grabar porque no ha pasado la validacion <%= pluralize(@usuario.errors.count, "dato") %>:</h2>
      <ul>
      <% @usuario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombreusuario, :class => :menuNormal1N %><br />
    <%= f.text_field :nombreusuario, :class => :NormalCajaTexto %>
  </div>
  <div class="field">
    <%= f.label :clave, :class => :menuNormal1N %><br />
    <%= f.password_field :clave, :class => :NormalCajaTexto %>
  </div>
  <div class="field">
    <%= f.label :nombre, :class => :menuNormal1N %><br />
    <%= f.text_field :nombre, :class => :NormalCajaTexto %>
  </div>
  <div class="field">
    <%= f.label :apellidopaterno, :class => :menuNormal1N %><br />
    <%= f.text_field :apellidopaterno, :class => :NormalCajaTexto %>
  </div>
  <div class="field">
    <%= f.label :apellidomaterno, :class => :menuNormal1N %><br />
    <%= f.text_field :apellidomaterno, :class => :NormalCajaTexto %>
  </div>
  <div class="field">
    <%= f.label :activo, :class => :menuNormal1N %><br />
    <%= f.check_box :activo, :class => :NormalCheck %>
  </div>
  <div class="field">
    <%= f.label :empresa_id, :class => :menuNormal1N %><br />
    <%= f.collection_select :empresa_id,@empresa,:id,:nombre, {:include_blank => "Seleccione valor"}, {:class => :NormalSelect} %>
  </div>
  <div class="field">
    <%= f.label :rol, :class => :menuNormal1N %><br />
    <%= f.collection_select(:rol_ids, @rol, :id, :nombre, {:selected => @usuario.rol_ids},{:include_blank => "seleccione valor", :multiple => true, :class => :NormalSelect})%>   
  </div>
  <div class="actions">
    <%= f.submit :class => :NormalBoton %>
  </div>
<% end %>