<p id="notice"><%= notice %></p>
<p class="menuNormal1N">
  <b>Nombre:</b>
  <%= @tipo_de_forma_de_pago.nombre %>
</p>
<%= link_to :Editar, edit_tipo_de_forma_de_pago_path(@tipo_de_forma_de_pago), :class => :menuLink1N %> |
<%= link_to :Regresar, tipo_de_forma_de_pagos_path, :class => :menuLink1N %> |
<%= link_to 'Crear nuevo tipo de forma de pago', new_tipo_de_forma_de_pago_path, :class => :menuLink1N %>
