<p id="notice"><%= notice %></p>
<p class="menuNormal1N">
  <b>Nombre:</b>
  <%= @financiador.nombre %>
</p>
<%= link_to :Editar, edit_financiador_path(@financiador), :class => :menuLink1N %> |
<%= link_to :Regresar, financiadors_path, :class => :menuLink1N %> |
<%= link_to 'Crear nuevo financiador', new_financiador_path, :class => :menuLink1N %>